<!DOCTYPE html>
<html>
  <head>
    <title>WhatsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if current_user.present? %>
        <%= render 'layouts/top_navigation' %>
      <%end%>
    <%= yield %>
  </body>
</html>
